/* ## RESET ##  */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  margin: 0 auto;
}
/* ## END RESET ##  */

/* START COLLECTION */


.Collections {
  /* height: 100vh; */
  font-size: 100%;
  font-size: 16px;
  line-height: 1.5;
  background: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
}

.site-container {
  margin: 2rem auto;
  max-width: 1156px;
}

.article_container {
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  gap: 2rem;
  align-items: center;
  padding: 20px;
}

img {
  max-width: 90%;
}

.article_content {
  align-items: center;
  text-align: center;
}

.article_card {
  display: flex;
  flex-direction: column;
}

figure {
  height: 70%;
}

.article_content {
  height: 30%;
}

.article_image {
  text-align: center;
}

/* .article-image {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

figure {
  max-width: 200px;
}

.article-image img {
  /* max-width:100%;*/
/* height: auto;
  border-radius: 20px 20px 0 0;
}

.article-card {
  /* background: white; 
  border-radius: 20px;
  transition: 0.3s;
}

.article-card:hover {
  cursor: pointer;
}

.article-content {
  padding: 2rem;
}

.article-content .card-category {
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 600;
  color: black;
  display: block;
  text-decoration: none;
}

.article-content .card-title {
  margin: 1rem 0;
  color: #22447b;
}
*/

.card-title  {
width: 412px;
height: 42px;
margin-bottom: 29px;
margin-left:-30px;
font-family: 'Syne';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 42px;
text-align: center;
color: #000000;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

.card-text {
color: #532c59;
}

.article-content .card-text {
width: 412px;	
height: 40px;
margin-top:  30px;
font-family: "Space Grotesk";
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px; 
text-align: center;  
color: #532c59;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
  } 
  
 .platform__main--title {
width: 1300px;
height: 64px;
font-family: 'Syne';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 64px;
/* identical to box height, or 133% */
text-align: center;
margin-bottom:16px;
color: #000000;  
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
 }
  
 .platform__main--text {
display: flex;
flex-wrap: wrap;
justify-content: center;
width: 820px;
height: 48px;
font-family: 'Space Grotesk';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
margin-left: 200px;
text-align: center;
color: #532C59;
flex: none;
order: 0;
flex-grow: 1;
    
  }

/*END COLLECTION*/

